<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Productapi\Demo\Api\ProductRepositoryInterface" type="Productapi\Demo\Model\ProductRepository"/>
    <preference for="Productapi\Demo\Api\Data\ProductInterface" type="Productapi\Demo\Model\Data\Product"></preference>
</config>
